<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-header">Leasing &nbsp;
        <div class="btn-actions-pane-right">
          <div role="group" class="btn-group-sm btn-group">
            <button class="active btn btn-focus">Upcoming</button>
            <button class="btn btn-focus">Overdue</button>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
          <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Invoice Date</th>
            <th class="text-center">Due Date</th>
            <th class="text-center">Total Amount</th>
            <th class="text-center">Status</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>

          <% @invoices.each do |invoice| %>

            <tr>
              <td class="text-center text-muted">#<%=invoice.id %></td>
              <td>
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left flex2">
                      <div class="widget-heading"><%= invoice.invoice_date %></div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left flex2">
                      <div class="widget-heading"><%= invoice.invoice_due_date %></div>
                    </div>
                  </div>
                </div>

              </td>
              <td class="text-center">
                <%= invoice.amount_total %>
              </td>
              <td class="text-center">
                <div class="badge badge-warning"> <%= invoice.status  %></div>
              </td>
              <td class="text-center">
                <a href="<%= manager_lease_path(1) %>"><button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button></a>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <%= will_paginate @invoices, renderer: BootstrapPagination::Rails %>
</div>
