<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
      <div class="card border-0 shadow">
        <img src="https://www.bootdey.com/img/Content/avatar/avatar6.png" alt="...">
        <div class="card-body p-1-9 p-xl-5">
          <div class="mb-4">
            <h3 class="h4 mb-0"><%= @lease.renter.name %></h3>
            <span class="text-primary"><%= @lease.from_date.strftime("%-d %b %Y") %> &nbsp; to &nbsp; <%= @lease.to_date.strftime("%-d %b %Y") %></span>
          </div>
          <ul class="list-unstyled mb-4">
            <li class="mb-3"><a href="#!"><i class="far fa-envelope display-25 me-3 text-secondary"></i><%= @lease.renter.email %></a></li>
            <li class="mb-3"><a href="#!"><i class="fas fa-mobile-alt display-25 me-3 text-secondary"></i>+012 (345) 6789</a></li>
            <li><a href="#!"><i class="fas fa-map-marker-alt display-25 me-3 text-secondary"></i><%= @lease.renter.address %></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="ps-lg-1-6 ps-xl-5">
        <div class="mb-5 wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn">
            <h2 class="h1 mb-0 text-primary">#Unit</h2>
            <h3 class="h3 mb-0 text-primary"><%=@lease.unit.unit_no %> ( <%= @lease.from_date.strftime("%-d %b %Y") %> &nbsp; to &nbsp; <%= @lease.to_date.strftime("%-d %b %Y") %> )</h3>
          </div>
          <p> </p>
        </div>
        <div class="mb-5 wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn">
            <h2 class="h1 mb-0 text-primary">#Invoices</h2>
          </div>


          <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
              <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Invoice Date</th>
                <th class="text-center">Due Date</th>
                <th class="text-center">Total Amount</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
              </tr>
              </thead>
              <tbody>

              <% @lease.invoices.each do |invoice| %>

                <tr>
                  <td class="text-center text-muted">#<%=invoice.id %></td>
                  <td>
                    <div class="widget-content p-0">
                      <div class="widget-content-wrapper">
                        <div class="widget-content-left flex2">
                          <div class="widget-heading"><%= invoice.invoice_date %></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="widget-content p-0">
                      <div class="widget-content-wrapper">
                        <div class="widget-content-left flex2">
                          <div class="widget-heading"><%= invoice.invoice_due_date %></div>
                        </div>
                      </div>
                    </div>

                  </td>
                  <td class="text-center">
                    <%= invoice.amount_total %>
                  </td>
                  <td class="text-center">
                    <div class="badge badge-warning"> <%= invoice.status  %></div>
                  </td>
                  <td class="text-center">
                    <a href="<%= manager_lease_path(1) %>"><button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button></a>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>