<div class="row">
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-midnight-bloom">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Total Units</div>
          <div class="widget-subheading">Vacant: <%= @stats[:vacant_unit_count]%></div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span><%= @stats[:unit_count]%></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-arielle-smile">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Leases</div>
          <div class="widget-subheading">Running: <%= @stats[:running_lease_count]%></div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span><%= @stats[:lease_count]%></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-grow-early">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Invoices</div>
          <div class="widget-subheading">Due: $<%= @stats[:due_invoice_amount].round(2) %>9877</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span>$<%= @stats[:invoice_amount].round(2) %></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-premium-dark">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Appointments</div>
          <div class="widget-subheading">This Week: <%= @stats[:appointment_count]%></div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-warning"><span><%= @stats[:this_week_appointments]%></span></div>
        </div>
      </div>
    </div>
  </div>
</div>