<!DOCTYPE html>
<html>
  <head>
    <title>Rental</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://demo.dashboardpack.com/architectui-html-free/main.css" rel="stylesheet">
  </head>

  <body>
  <% if user_signed_in? %>
    <%= render partial: '/nav', formats: :html %>
  <% end %>

  <div class="container container-fluid" style="margin-top:20px">
  <% if notice.present? %>
    <div class="row"><div class="col-md-12"><p class="alert alert-primary"><%= notice %></p></div> </div>
  <% end %>
  <% if alert.present? %>
    <div class="row"><div class="col-md-12"><p class="alert alert-danger"><%= alert %></p></div> </div>
  <% end %>
    <%= yield %>
  </div>
  </body>
</html>
